{% extends "layout.html" %}
{% block content %}

<h4>以下の文章を音読してください</h4>
<p><strong>{{ data["foreigns"][data["idx"]] }}</strong></p>
{% if data["japaneses"] %}
<h4>意味</h4>
<p><strong>{{ data["japaneses"][data["idx"]] }}</strong></p>
{% endif %}

{% if data["recording"] %}
<!-- 録音ボタン -->
<form action="/sound" method="post" enctype="multipart/form-data">
  <input type="submit" id="soundBottun" value="録音開始">

  <input type="hidden" name="data" value="{{ data }}">
</form>

{% else %}
<!-- 次の文章に遷移するボタン -->
<h4>あなたの発音</h4>
<p>{{ data['pronunciations'][data['idx']] }}</p>
<h4>類似度スコア</h4>
<p>{{ data['scores'][data['idx']] }}</p>

<div>
  <form action="/record" method="post" enctype="multipart/form-data">
  <p><input type="submit" id="sendButton" value="次の文章へ"></p>

  <input type="hidden" name="data" value="{{ data }}">
  </form>
</div>

{% endif %}

{% endblock %}